@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));
body {
  @apply bg-slate-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0 1000px #374151 inset;
  caret-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}